
<%- include('../partials/header') %>

<h1>Edit Event Form</h1>

<form action="/events/<%=foundEvent._id%>?_method=PATCH" method="POST">
    <div>
        <label for="eventName">Name: </label>
        <input type="text" name="name" id="eventName" value="<%= foundEvent.name %>">
    </div>
    <div>
        <label for="eventImage">Image: </label>
        <input type="text" name="img" id="eventImage" value="<%= foundEvent.img %>">
    </div>
    <div>
        <label for="eventDate">Date: </label>
        <input type="date" name="date" id="eventDate" value="<%= foundEvent.date.toISOString().split('T')[0] %>">
    </div>
    <div>
        <label for="eventTime">Time: </label>
        <input type="text" name="time" id="eventTime" value="<%= foundEvent.time %>">
    </div>
    <div>
        <label for="eventSociety">Society: </label>
        <input type="text" name="society" id="eventSociety" value="<%= foundEvent.society %>">
    </div>
    <div>
        <label for="eventVenue">Venue: </label>
        <input type="text" name="venue" id="eventVenue" value="<%= foundEvent.venue %>">
    </div>
    <div>
        <label for="eventType">Type: </label>
        <input type="text" name="type" id="eventType" value="<%= foundEvent.type %>">
    </div>
    <div>
        <label for="eventDesc">Description: </label>
        <textarea name="desc" id="eventDesc" rows="3"><%= foundEvent.desc %></textarea>
    </div>
    <div>
        <label for="registerLink">Registration Link: </label>
        <input type="url" name="registerLink" id="registerLink" value="<%=foundEvent.registerLink%>">
    </div>
    
    <button type="submit">Edit Event</button>
</form>

<%- include('../partials/footer') %>
