<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container mt-5">
    <h1>Registrations for <%= event.name %></h1>
    <p>Total Registrations: <%= event.registrations.length %></p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <% event.registrations.forEach(registration => { %>
                <tr>
                    <td><%=registration.user.name%></td>
                    <td><%=registration.user.email%></td>
                    <td><%=registration.user.contactno%></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>
